.App {
  display: flex;
  flex-direction: column;
}

.Top-Container {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 0;
}

.Details-Container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.Details-Info-Container {
  display: flex;
  align-items: center;
}

.Details-MediaControls-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14rem;
  margin-top: 1rem;
}

.Icon-Spacer {
  margin: 0 0.4rem 0 0.4rem;
}

.Light-Font {
  font-weight: lighter;
}
